.intro-section {
    height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #201E26;
    color: white;
}

.landing-image {
    height: 350px;
}

.selling-points-section {
    height: 85vh;
    box-sizing: border-box;
    padding-top: 20px;
}

.selling-points-flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
}

.selling-point {
    height: 400px;
    width: 350px;
    background: gray;
}