.main-header {
    height: 75px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: #201E26;
    color: white;
}

.main-header nav {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: white;
}